.btn{
    display: flex;
    flex-direction: row;
    color: #fff;
    width: 120px;
    height: fit-content;
    justify-content: space-around;
    align-items: center;
  }
  
  .btnp{
    padding-right: 5%;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 1.5px;
    line-height: 36px;
  }

  .box{
    height: 100vh;
    color: aquamarine;
  }

  h1{
    margin: 0;
  }