html,
body {
  margin: 0;
  padding: 0;
  background-color: #121212;
  /* background-image: url("./Assets/bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
  font-family: "poppins", sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}

@font-face {
  font-family: mademaze;
  src: url(./Assets/MADESoulmaze.otf);
}

@media screen and (max-width: 768px){
  html, body{
    width: 100vw;
    overflow-x: hidden;
  }
}

#root, .main{
  margin: 0;
  padding: 0;
  width: 100vw;
}